// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')


html, button
    font: 16px 'Ubuntu', sans-serif

*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.inline-text
    *
        display: inline

        &:not(:last-child)
            margin-right: 0.5rem
