@import 'colors'
@import 'typography'

@import 'buttons'

@import 'navigation/top-bar'

@import 'page/index'
@import 'page/portfolio'

body
    padding: 0
    margin: 0
    background-color: $theme-background 