extends layout

block content
    section(class="landing")
        form(class="login__form")
            h1 Login

            input(class="text-input", type="email", name="email", placeholder="Email", autocomplete="email", required)

            input(class="text-input", type="password", name="password", placeholder="Wachtwoord", autocomplete="password", required)

            button(class="button--primary login__form-submit", type="submit")
                span inloggen
                i(class='material-icons') check