h1 Hop-IT Account

p Hi #{firstname} #{lastname},
p Hop-IT needs to confirm you email address is valid. Please click the link below to confirm you received this mail.
a(href=`${verificationURL}`) Verify Email.
p If link does not work copy paste this link: #{verificationURL}